venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

# dossiers lourds / persos
img_real/
tmp/
runs/
logs/
.checkpoints/
.cache/

# on ignore tous les poids par défaut
*.pt
*.pth
# Sauf le modèle face dont on a besoin dans l'image Docker
!yolov8n-face.pt

# git stuff
.git
.gitignore

