venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

# dossiers lourds / persos
img_real/
tmp/
runs/
logs/
.checkpoints/
.cache/

# ignorer les poids en général
*.pt
*.pth
# ... mais garder le modèle visage embarqué dans l'image Docker
!yolov8n-face.pt

# git stuff
.git
.gitignore


