venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3


.ipynb_checkpoints/


temp_face.jpg
*.tmp
*.log


*.pt
*.h5
*.ckpt
*.weights


.DS_Store
Thumbs.db


*.jpg
*.jpeg
*.png


.idea/
.vscode/
*.bak
